*{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-color: lightgrey;
}
.header {
	background-color: white;
	text-align: center;
	margin-top: 150px;
	width: 0 auto;
	font-size: 19px;
	width: 55% !important;
	height: 550px;
}

table {
	width : 750px;
}

table, td, th {
	border : 1px #ddd solid;
	border-collapse : collapse;
	background-color: #EDF0F5;
	color : black;
}

td, th {
	padding: 2px;
	text-align: center;
}

.footerbar{
	font-size: 23px;
	text-align: 0 auto
	border-style: solid;
	color: white;
}
h1{
	color: white;
	margin-top: 80px;
}

h2{
	font-size: 20px;
}

label{
	display: inline-block;
	width: 100px;
}

form div {
	margin: 5px 0;
}

div.card {
    width: 0 auto;
    width: 55% !important;
    background-color: #5DADE2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

textarea{
	resize: none;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration: none;
    background-color: #5DADE2;
    color: white;
}